.git
.gitignore

*.orig

*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

.idea/**/contentModel.xml

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml
.idea/**/dbnavigator.xml

.idea/**/gradle.xml
.idea/**/libraries

cmake-build-*/

.idea/**/mongoSettings.xml

*.iws

out/

.idea_modules/

atlassian-ide-plugin.xml

.idea/replstate.xml

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

.idea/httpRequests

.idea/caches/build_file_checksums.ser


.idea/


*.iml
modules.xml
.idea/misc.xml
*.ipr

.idea/sonarlint

*.rbc
capybara-*.html
.rspec
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
rerun.txt
pickle-email-*.html

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

config/initializers/secret_token.rb
config/master.key

.env

/.bundle
/vendor/bundle

.rvmrc

/vendor/assets/bower_components
*.bowerrc
bower.json

.powenv

.byebug_history

node_modules/

/public/packs
/public/packs-test
/public/assets

/yarn-error.log
yarn-debug.log*
.yarn-integrity

/storage/*
!/storage/.keep

*.gem
/.config
/InstalledFiles
/pkg/
/spec/reports/
/spec/examples.txt
/test/tmp/
/test/version_tmp/
/tmp/

.dat*
.repl_history
build/
*.bridgesupport
build-iPhoneOS/
build-iPhoneSimulator/

/.yardoc/
/_yardoc/
/doc/
/rdoc/

/.bundle/
/lib/bundler/man/
