$('#permission_action').empty()
<% unless @actions and @actions.any? %>
  .append('<option>Seleccione</option>')
<% else %>
  <% @actions.each do |action| %>
    .append('<option value="<%= action %>"><%= action.gsub(':', '').titleize %></option>')
  <% end %>
<% end %>;
